.vs/ParallelSP/FileContentIndex/533d55dd-a390-4e2c-8244-ff5a13994232.vsidx
.vs/ParallelSP/v14/.suo
.vs/ParallelSP/v15/.suo
.vs/ParallelSP/v15/Server/sqlite3/db.lock
.vs/ParallelSP/v15/Server/sqlite3/storage.ide
.vs/ParallelSP/v15/Server/sqlite3/storage.ide-shm
.vs/ParallelSP/v15/Server/sqlite3/storage.ide-wal
.vs/ParallelSP/v16/.suo
.vs/ParallelSP/v17/.suo
.vs/ParallelSP/v17/DocumentLayout.json
MicroTimerConsoleDemo/bin/Debug/MicroTimerConsoleDemo.vshost.exe
MicroTimerConsoleDemo/bin/Debug/MicroTimerConsoleDemo.vshost.exe.manifest
MicroTimerConsoleDemo/bin/Release/MicroTimerConsoleDemo.exe
MicroTimerConsoleDemo/bin/Release/MicroTimerConsoleDemo.pdb
MicroTimerConsoleDemo/bin/Release/MicroTimerConsoleDemo.vshost.exe
MicroTimerConsoleDemo/bin/Release/MicroTimerConsoleDemo.vshost.exe.manifest
MicroTimerConsoleDemo/obj/x86/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
MicroTimerConsoleDemo/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MicroTimerConsoleDemo/obj/x86/Debug/MicroTimerConsoleDemo.csproj.AssemblyReference.cache
MicroTimerConsoleDemo/obj/x86/Release/.NETFramework,Version=v4.0.AssemblyAttributes.cs
MicroTimerConsoleDemo/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
MicroTimerConsoleDemo/obj/x86/Release/MicroTimerConsoleDemo.csproj.AssemblyReference.cache
MicroTimerConsoleDemo/obj/x86/Release/MicroTimerConsoleDemo.csproj.FileListAbsolute.txt
MicroTimerConsoleDemo/obj/x86/Release/MicroTimerConsoleDemo.csprojResolveAssemblyReference.cache
MicroTimerConsoleDemo/obj/x86/Release/MicroTimerConsoleDemo.exe
MicroTimerConsoleDemo/obj/x86/Release/MicroTimerConsoleDemo.pdb
packages/Dapper.1.50.4/.signature.p7s
packages/Dapper.1.50.4/Dapper.1.50.4.nupkg
packages/Dapper.1.50.4/lib/net451/Dapper.dll
packages/Dapper.1.50.4/lib/net451/Dapper.xml
packages/Dapper.1.50.4/lib/netstandard1.3/Dapper.dll
packages/Dapper.1.50.4/lib/netstandard1.3/Dapper.xml
packages/Dapper.1.50.4/lib/netstandard2.0/Dapper.dll
packages/Dapper.1.50.4/lib/netstandard2.0/Dapper.xml
ParallelSP/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
ParallelSP/obj/Debug/Autosp.csproj.FileListAbsolute.txt
ParallelSP/obj/Debug/Autosp.csproj.GenerateResource.Cache
ParallelSP/obj/Debug/Autosp.csprojResolveAssemblyReference.cache
ParallelSP/obj/Debug/Autosp.exe
ParallelSP/obj/Debug/Autosp.pdb
ParallelSP/obj/Debug/Autosp.Properties.Resources.resources
ParallelSP/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParallelSP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ParallelSP/obj/Debug/ParallelSP.csproj.FileListAbsolute.txt
ParallelSP/obj/Debug/ParallelSP.csproj.GenerateResource.Cache
ParallelSP/obj/Debug/ParallelSP.csprojResolveAssemblyReference.cache
ParallelSP/obj/Debug/ParallelSP.exe
ParallelSP/obj/Debug/ParallelSP.FormLog.resources
ParallelSP/obj/Debug/ParallelSP.FormMain.resources
ParallelSP/obj/Debug/ParallelSP.FormPara.resources
ParallelSP/obj/Debug/ParallelSP.FormSchedule.resources
ParallelSP/obj/Debug/ParallelSP.pdb
ParallelSP/obj/Debug/ParallelSP.Properties.Resources.resources
ParallelSP/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ParallelSP/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ParallelSP/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ParallelSP/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ParallelSP/obj/Release/.NETFramework,Version=v4.6.AssemblyAttributes.cs
ParallelSP/obj/Release/Autosp.csproj.FileListAbsolute.txt
ParallelSP/obj/Release/Autosp.csproj.GenerateResource.Cache
ParallelSP/obj/Release/Autosp.csprojResolveAssemblyReference.cache
ParallelSP/obj/Release/Autosp.exe
ParallelSP/obj/Release/Autosp.FormMain.resources
ParallelSP/obj/Release/Autosp.pdb
ParallelSP/obj/Release/Autosp.Properties.Resources.resources
ParallelSP/obj/Release/DesignTimeResolveAssemblyReferences.cache
ParallelSP/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
ParallelSP/obj/Release/ParallelSP.csproj.AssemblyReference.cache
ParallelSP/obj/Release/ParallelSP.csproj.FileListAbsolute.txt
ParallelSP/obj/Release/ParallelSP.csproj.GenerateResource.Cache
ParallelSP/obj/Release/ParallelSP.csprojResolveAssemblyReference.cache
ParallelSP/obj/Release/ParallelSP.exe
ParallelSP/obj/Release/ParallelSP.FormLog.resources
ParallelSP/obj/Release/ParallelSP.FormMain.resources
ParallelSP/obj/Release/ParallelSP.FormPara.resources
ParallelSP/obj/Release/ParallelSP.FormSchedule.resources
ParallelSP/obj/Release/ParallelSP.pdb
ParallelSP/obj/Release/ParallelSP.Properties.Resources.resources
ParallelSP/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ParallelSP/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ParallelSP/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ParallelSP/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
ManualSP/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
ManualSP/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ManualSP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ManualSP/obj/Debug/ManualSP.csproj.FileListAbsolute.txt
ManualSP/obj/Debug/ManualSP.csproj.GenerateResource.Cache
ManualSP/obj/Debug/ManualSP.csprojResolveAssemblyReference.cache
ManualSP/obj/Debug/ManualSP.exe
ManualSP/obj/Debug/ManualSP.FormMain.resources
ManualSP/obj/Debug/ManualSP.pdb
ManualSP/obj/Debug/ManualSP.Properties.Resources.resources
ManualSP/obj/Release/.NETFramework,Version=v4.0.AssemblyAttributes.cs
ManualSP/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
ManualSP/obj/Release/ManualSP.csproj.AssemblyReference.cache
ManualSP/obj/Release/ManualSP.csproj.FileListAbsolute.txt
ManualSP/obj/Release/ManualSP.csproj.GenerateResource.Cache
ManualSP/obj/Release/ManualSP.csprojResolveAssemblyReference.cache
ManualSP/obj/Release/ManualSP.exe
ManualSP/obj/Release/ManualSP.FormMain.resources
ManualSP/obj/Release/ManualSP.pdb
ManualSP/obj/Release/ManualSP.Properties.Resources.resources
